{{contact.name}} - {{contact.title}}

{{#contact.email}}
Email: {{.}}{{/contact.email}}{{#contact.phone}}
Phone: {{.}}{{/contact.phone}}{{#contact.address}}
Address: {{.}}{{/contact.address}}{{#contact.webpage}}
Webpage: {{url}}{{/contact.webpage}}{{#contact.github}}
GitHub: {{url}}{{/contact.github}}{{#contact.linkedin}}
LinkedIn: {{url}}{{/contact.linkedin}}{{#contact.misc}}
{{name}}: {{url}}{{/contact.misc}}{{#introduction}}

{{.}}{{/introduction}}

{{#sections}}
{{name}}
---{{#entries}}{{#where}}
{{.}}{{/where}}{{#when}} | {{.}}{{/when}}{{#location}} | {{.}}{{/location}}{{#what}}
{{#where}}  {{/where}}{{.}}{{/what}}{{#what-url}}
  {{.}}{{/what-url}}{{#description}}
  {{.}}{{/description}}{{#details}}
    - {{.}}{{/details}}{{/entries}}

{{/sections}}
