<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="vendor/css/font-awesome.min.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="resume.css">
    <!-- Page title -->
    <title>{{contact.name}} - Resume</title>
  </head>
  <body>
    <div class="resume">
      <!-- Resume header -->
      <header class="resume-header">
        <div class="header-presentation">
          <h1 class="presentation-name">{{contact.name}}</h1>
          <h3 class="presentation-label">{{contact.title}}</h3>
        </div>
        <!-- Contact information -->
        <div class="header-contact">
          {{#contact.github}}
            <span><i class="fa fa-github-alt"></i> <a href="{{url}}">{{name}}</a></span>
          {{/contact.github}}
          {{#contact.linkedin}}
            <span><i class="fa fa-linkedin-square"></i> <a href="{{url}}">{{name}}</a></span>
          {{/contact.linkedin}}
          {{#contact.webpage}}
            <span><i class="fa fa-feed"></i> <a href="{{url}}">{{name}}</a></span>
          {{/contact.webpage}}
          {{#contact.address}}
            <span><i class="fa fa-home"></i> {{.}}</span>
          {{/contact.address}}
          {{#contact.email}}
            <span><i class="fa fa-envelope"></i> <a href="mailto:{{.}}">{{.}}</a></span>
          {{/contact.email}}
          {{#contact.phone}}
            <span><i class="fa fa-phone"></i> {{.}}</span>
          {{/contact.phone}}
          {{#contact.misc}}
            <span><a href="{{url}}">{{name}}</a></span>
          {{/contact.misc}}
        </div>
      </header>
      <!-- Resume content -->
      <div class="resume-content">
        {{#introduction}}
          <!-- Introduction paragraph -->
          <div class="content-introduction">
            {{.}}
          </div>
        {{/introduction}}
        <!-- Sections -->
        {{#sections}}
          <div class="content-section">
            <div class="section-header">
              <span>{{name}}&nbsp;</span>
            </div>
            <div class="section-content">
              {{#entries}}
                <div class="content-entry">
                  <div class="entry-header">
                    {{#where}}
                      <span class="entry-where">{{.}}</span>
                    {{/where}}
                    {{#when}}
                      <span class="entry-when">{{.}}</span>
                    {{/when}}
                    {{#what}}
                      <span class="entry-what">
                      {{#what-url}}
                        <a href="{{.}}">
                      {{/what-url}}
                      {{.}}
                      {{#what-url}}
                        </a>
                      {{/what-url}}
                      </span>
                    {{/what}}
                    {{#description-short}}
                      <span class="entry-description-short">&nbsp;-&nbsp;{{.}}</span>
                    {{/description-short}}
                  </div>
                  {{#description}}
                    <span class="entry-description">{{.}}</span>
                  {{/description}}
                  {{#details}}
                    <span class="entry-detail">
                      &#9675; <span>{{.}}</span>
                    </span>
                  {{/details}}
                  <span class="entry-details-short">
                    {{#details-short}}
                      <span class="detail-short">
                        &#9675; <span>{{.}}</span>
                      </span>
                    {{/details-short}}
                  </span>
                </div>
              {{/entries}}
            </div>
          </div>
        {{/sections}}
      </div>
    </div>
  </body>
</html>
